@use '../../scss/responsive' as *;

.bcn-content-info {
    display: flex;
    align-items: center;
    column-gap: 16px;
    margin: 0 0 32px;

    &__image {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        overflow: hidden;

        > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
    }

    &__text-container {
        display: flex;
        flex-direction: column;
        gap: 8px;
        flex: 1;

        @include tablet {
            flex-direction: row;
            gap: 0;
            justify-content: space-between;
            align-items: flex-end;
        }
    }

    &__author {
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.375rem;

        a {
            color: inherit;

            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }
    }

    &__text {
        display: flex;
        align-items: flex-start;
        gap: 8px;
        font-weight: 300;
        font-size: .75rem;
        line-height: 1.125rem;

        i, svg {
            font-size: 1rem;
        }
    }
}
