$identifier: 'bcn-article-link';
$class: '.#{$identifier}';

#{$class} {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    @media (min-width: 768px) {
        @container #{$identifier} (min-width: 480px) {
            flex-direction: row;
        }
    }

    #{$class}__image-wrapper {
        width: 100%;

        @media (min-width: 768px) {
            @container #{$identifier} (min-width: 480px) {
                width: 225px;
            }

            @container #{$identifier} (min-width: 768px) {
                width: 300px;
            }
        }
    }

    #{$class}__image {
        display: flex;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        aspect-ratio: var(--aspect-ratio);
    }

    #{$class}__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 1rem;
        flex-grow: 1;

        @media (min-width: 768px) {
            @container #{$identifier} (min-width: 480px) {
                padding-top: 0;
                padding-left: 1.25rem;
            }
        }
    }

    &#{$class}--border {
        #{$class}__image {
            border-radius: 10px 10px 0 0;

            @media (min-width: 768px) {
                @container #{$identifier} (min-width: 480px) {
                    border-radius: 10px 0 0 10px;
                }
            }
        }

        #{$class}__content {
            padding: 1rem;
            border-right: 1px solid #cccccc;
            border-bottom: 1px solid #cccccc;
            border-left: 1px solid #cccccc;
            border-radius: 0 0 10px 10px;

            @media (min-width: 768px) {
                @container #{$identifier} (min-width: 480px) {
                    padding: 1.25rem;
                    border-top: 1px solid #cccccc;
                    border-left: none;
                    border-radius: 0 10px 10px 0;
                }
            }
        }
    }

    &-container {
        container: #{$identifier} / inline-size;
        color: inherit;
        text-decoration: none;
    }
}
