.bcn-navigation-search {
    display: flex;
    align-items: center;
    width: 280px;
    height: 40px;
    border: 1px solid #cccccc;
    border-radius: 20px;
    overflow: hidden;

    &__icon {
        padding: 0 16px;
        font-size: 20px;
    }

    &__input {
        flex-grow: 1;
        height: 100%;
        border: none;
        outline: none;
        font-size: 1rem;
        padding: 0 16px 0 0;
    }
}
