* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

picture:has(> img) {
    display: block;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.resize {
    resize: horizontal;
    overflow-x: auto; /* something other than visible */
    width: 960px;
    max-width: 960px;
    margin: 0 auto;
    min-height: 100%;
    padding: 0 0 50px;
}

#app {
    width: 100%;
}

:root {
    --primary: #537FE7;
    --secondary: #C0EEF2;

    --primary-btn: #537FE7;
    --secondary-btn: #111827;

    --primary-button-background: #537FE7;
    --primary-button-color: #ffffff;
}
